{{define "footer"}}
    <footer style="text-align: center">
        <small>Made with 💙 by <a href="https://marvinjwendt.com">Marvin Wendt</a></small>
        <br/>
        <small><a href="/privacy">Privacy Policy</a> | <a href="/terms">Terms of Service</a></small>
    </footer>
{{end}}
