{{define "navbar"}}
    <nav>
        <ul>
            <li><strong><a href="/" style="text-decoration: none; color: #fff">instl.sh</a></strong></li>
        </ul>
        <ul>
            <li><a href="/stats">Stats</a></li>
            <li><a href="//github.com/installer/instl">GitHub</a></li>
        </ul>
    </nav>
{{end}}
