/* Global CSS */

h1::before {
    content: "# ";
    color: #a8a8a8;
}

h2::before {
    content: "## ";
    color: #a8a8a8;
}

h3::before {
    content: "### ";
    color: #a8a8a8;
}

h4::before {
    content: "#### ";
    color: #a8a8a8;
}

article {
    padding-top: calc(1.5 * 1rem);
    padding-bottom: calc(1.5 * 1rem);
}
